.ticket-app {
  width: 40%;
  border: 1px solid #ddd;
  padding: 40px;
  margin: 100px auto;
  box-shadow: 0px 0px 10px #dddd;
  border-radius: 10px;
}

.app-title {
  text-align: center;
  font-size: 30px;
}
.seat-states {
  display: flex;
  justify-content: space-between;
}
.states-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.states-item span:nth-child(1) {
  display: inline-block;
  width: 60px;
  height: 35px;
  border: 1px solid #ddd;
}
.states-item span:nth-child(1).sold {
  background-color: red;
}
.states-item span:nth-child(1).available {
  background-color: rgb(248, 248, 248);
}
.states-item span:nth-child(1).booked {
  background-color: rgb(177, 177, 177);
}
.states-item span:nth-child(1).selected {
  background-color: rgb(0, 187, 62);
}
/* ticket section */
.tickets {
  display: flex;
  margin-top: 50px;
}
.tickets .bus {
  width: 45%;
  border: 1px solid #ddd;
  padding: 8px;
  box-shadow: 0px 0px 5px #ddd;
}
.bus-top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.door {
  width: 100px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.driver {
  width: 100px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap !important;
  width: 100%;
}
.seat {
  margin: 4px;
  border: 1px solid gray;
  padding: 3px;
  min-height: 20px;
  cursor: pointer;
  font-size: 15px;
  width: 40px;
}

.seat:nth-child(4n -2) {
  margin-right: 12px;
}

.seat:nth-child(4n -1) {
  margin-left: 43%;
}
.seat:hover {
  font-weight: bold;
}
.seats {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid gray;
    padding: 3px; */
  margin-top: 11px;
}

.seat {
  margin: 4px;
  border: 1px solid gray;
  padding: 3px;
  min-height: 11px;
  cursor: pointer;
  font-size: 15px;
  width: 28px;
}
.seats .sold {
  background-color: red;
}
.seats .available {
  background-color: rgb(248, 248, 248);
}
.seats .booked {
  background-color: rgb(177, 177, 177);
}
.seats .selected {
  background-color: rgb(0, 187, 62);
}
.tickets .summery {
  width: 55%;
  padding: 20px;
}
